@import url('https://fonts.googleapis.com/css2?family=Inter:wght&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

body {
  background: hsla(210, 100%, 100%, 1);
  color: hsla(0, 100%, 0%, 1);
}

main {
  margin: 0 auto;
  max-width: 900px;
  padding: 2rem;
}

main h1 {
  font-weight: 500;
  font-size: 1.25rem;
}

#app {
  position: relative;
}

svg {
  display: inline-block;
}

#data-table {
  display: flex;
  overflow-x: auto;
  margin-top: 2em;
}

#data-table table {
  border: 1px solid #000;
}

#data-table table,
#data-table table thead,
#data-table table tbody {
  width: 100%;
  border-collapse: collapse;
}

#data-table table thead {
  font-weight: 500;
}

#data-table table thead td {
  background: #000;
  color: #fff;
}

#data-table table td {
  border-bottom: 1px solid black;
  padding: 0.5em;
  font-size: 0.8rem;
}
